.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(9em, 1fr));
  justify-content: center;
  grid-gap: 20px;

}

.product-img {
  margin: auto;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, minmax(9em, 1fr));
  justify-content: center;
  grid-gap: 20px;
}

.container-2 {
  justify-content: center;
  margin: auto;
}

.bodyclass {
  margin: 10% 10%;
}

button {  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  width: 67%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.658);
}

@media screen and (max-width: 800px) {

  .container  {
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px 15px rgba(red, 18px);
    border-radius: 10px;
  }
  .container-2 {
    margin: 100px;
  }
}