.table {
    max-width: 600px;
    border: 1px solid black;
}

.item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -10px;
    grid-auto-rows: minmax(auto, auto);
    align-items: center;
  }
  
  .tableC {
    max-width: 600px;
  }
