@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  grid-template-columns: max-content;
  align-items: center;
  justify-content: center;
  grid-gap: 150px;
  grid-auto-rows: minmax(10px, 10);
  margin-top: 30px;
}

.item {
  display: flex;
  width: 300px;
  flex-wrap: nowrap;
  height: 100px;
  align-items: center;
  height: auto;
  position: relative;
  margin: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}

.item:hover {
  background-color: rgba(204, 204, 204, 0.185);
}

#product-price {
  font-size: 1em;
}

/* center container in the middle */
html {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

body {
  display: grid;
  background: light;
  font-family: font, sans-serif;
  text-transform: uppercase;
}

.container {
  position: relative;
  margin: auto;
  background: white;
  box-shadow: 5px 5px 15px rgba(rgb(218, 55, 82), .5);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 150px;
  grid-auto-rows: minmax(10px, 10);
}

h1 {
  font-size: 1.2em;
  color: dark;
}

h2 {
  color: rgba(94, 91, 91, 0.849);
}

h4 {
  color: rgba(94, 91, 91, 0.849);
}

h5 {
  color: rgba(94, 91, 91, 0.849);
}

img {
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.product {
  position: absolute;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  color: dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}


.add {
  width: 100%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.658);
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: pink;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
}

.pick {
  margin-top: 11px;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid light;
  font-size: 0.7em;
  text-align: center;
}

.focus {
  background: pink;
  color: white;
}

@media screen and (max-width: 200px) {

  .item {
    display: flex;
    width: 300px;
    flex-wrap: nowrap;
    height: 100px;
    background-color: lightgrey;
    align-items: center;
    height: auto;
    position: relative;
    margin: auto;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px 15px rgba(red, 18px);
    border-radius: 10px;
  }
}